<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIND - Reset Confirmation</title>
    <link href="../static/api/auth/css/common.css" th:href="@{css/common.css}" rel="stylesheet" media="screen">
</head>
<body>
<!-- <script src="../static/js/common.js"></script> -->
<div class="outer-div">
    <div class="inner-div">
        <h3>Your password has been successfully updated!</h3>
        <h3>Please login now on FIND with your email ID and new password.</h3>
    </div>
    <div>
        <img src="../static/api/auth/img/find_logo.png" alt="FIND" th:src="@{img/find_logo.png}"/>
    </div>
</div>
</body>
</html>